

<h2>Hello World from Handlebars</h2>

<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident recusandae earum iusto nesciunt corrupti, unde,
    deserunt iure molestiae error sapiente vitae labore, nihil fugiat cupiditate facilis consequatur totam rem
    voluptatibus impedit expedita dolores repellat minima. Quibusdam, dolorem delectus iste nihil perspiciatis ullam
    accusantium, dolore in veritatis sint corporis beatae ut culpa saepe? Dolorem pariatur sunt illum, quae debitis
    mollitia tempore?</p>

    {{! This is a comment ! }}