@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=Paytone+One&family=Playfair+Display&family=Righteous&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');


$code:  'Share Tech Mono', monospace;


$text: 'Hammersmith One', sans-serif;

$green: #009933;

$gradient: linear-gradient(to right, #FFFFFF, #FFEFBA);

html,
body {
    padding: 0;
    margin: 0;
}

body {
    background: #e1eec3;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f05053, #e1eec3);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f05053, #e1eec3);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

h2 {
    color: white;
}

.style {
    text-align: center;
    font-size: 6vh;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: 2px 3px 1px gray;
    font-family: 'Paytone One', sans-serif;
}

.container {
    width: 90%;
    height: 100%;
    padding: 2.5vh;
    margin-bottom: 10%;
    display: block;
    margin: auto;

}

.p-style{
    margin-top: 2vh;
    width: 85%;
    padding: 2vh;
    word-spacing: 3px;
    margin: auto;
    text-align:justify;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 2vh;

    p {
        line-height: 3vh;
        font-family: $text;
        font-weight: normal;
    }
}


.pre-style {
    top: 1vh;
    width: 85%;
    padding: 2vh;
    word-spacing:  5px;
    display: block;
    margin: auto;
    background-color: white;
    border-radius: 5px;
    border: 1px solid black;
    margin-bottom: 3vh;
    code {
        color: $green;
        font-family: $code;
        font-size: 2.4vh;
        font-weight: 400;
        
    }
}


.i-style {
    margin: auto;
    width: 84%;
    border: 1px solid black;
    padding: 3vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 5px;
    margin-bottom: 3vh;
}


.image {
    width: 90%;
    height: 70%;
    border-radius: 7px;
}

.endpoint {
    text-align: center;
    font-weight: 700;
    color: $green;
    font-size: 2.2vw;
    font-family: $code;
}